@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --bg-color: #333;
  --primary-color: rgba(0,0,0,0.7);
  --overlay-color: rgba(0,0,0,0.9);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation */
.header a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #333;
  position: absolute;
  transition: all .2s ease-out;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

/* Hero image */

.hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 70px;
  height: calc(100vh - 70px);
  color: #fff;
}

section h1 {
  font-size: 4rem;
}

.grid-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.portfolio > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  height: 200px;
  margin: 16px 0;
  font-size: 2rem;
  border-radius: 0 50% 50% 0;
  text-transform: uppercase;
  letter-spacing: .75rem;
  background-color: var(--bg-color);
}

.technologies > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  height: 200px;
  margin: 16px 0;
  font-size: 2rem;
  border-radius: 50% 0 0 50%;
  text-transform: uppercase;
  letter-spacing: .75rem;
  background-color: var(--bg-color);
}

/* Section Images */
section#home {
  background: url('https://source.unsplash.com/random/1600x900') no-repeat center center/cover;;
}

/* Card styles */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  background-color: transparent;
  height: 210px;
  perspective: 1000px;
}

.card h1 {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px #333 solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 210px;
  border-radius: 8px;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.card a {
  text-decoration: none;
}

.card p {
  font-size: .75rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.card-back {
  background-color: whitesmoke;
  transform: rotateY(180deg);
  padding: 12px;
}

.footer-container {
  height: 200px;
  color: #fff;
  padding: 1rem 0;
  background-color: var(--bg-color);
}

.footer-container li {
  list-style: none;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}

/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}